<!DOCTYPE html>
{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}

{% endblock %}



{% block content %}

  {% if confirm %}
  <div class="alert alert-info alert-dismissable">
    {{ confirm }}
  </div>
  {% endif %}

  {% if messages %}

  <div class="alert alert-info alert-dismissable">
    {% for message in messages %}
      {{ message }}
    {% endfor %}

  </div>
  {% endif %}


    {% if titulo == 'Carreras' or titulo == 'Departamentos' %}
      {% include "parametros/maestro_generico.html" %}
    {% endif %}

    {% if titulo == 'Planes' %}
        {% include "parametros/plan.html" %}
    {% endif %}

    {% if titulo == 'Modulos' %}
        {% include 'parametros/modulo.html' %}
    {% endif %}

    {% if titulo == 'Años' or titulo == 'Bloques' %}
        {% include 'parametros/maestro_single.html' %}
    {% endif %}

    {% if titulo == 'Periodos' %}
        {% include 'parametros/periodo.html' %}
    {% endif %}

    {% if titulo == 'Profesores' %}
        {% include 'parametros/profesor.html' %}
    {% endif %}



<!-- end container -->

{% endblock %}

