<div class="col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <table width="100%" class="table table-bordered table-hover" id="tabla-modulos-espejo">
      <thead class="thead-default">
        <tr>
          <th>Plan</th>
          <th>Modulo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

      {% for i in espejos %}
        <tr>
          <td name=id hidden>{{forloop.counter}}</td>
          <td width=30%>{{i.modulo.plan.nombre}}</td>
          <td width=30%>{{i.espejo.nombre}}</td>
          <td width=10%>
            <center>
              <button class='btn btn-danger btn-sm delete-table-grupo'>
                <span class='glyphicon glyphicon-minus'></span></button>
            </center>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button type="button" id="add-item" class="btn btn-primary btn-sm" style="margin:auto;display:block">
      <span class='glyphicon glyphicon-plus'></span> Añadir otro
    </button>
    <p></p>
  </div>
</div>


