<!DOCTYPE html>
{% extends "base.html" %}



{% load bootstrap3 %}

{% block title %}

{% endblock %}



{% block content %}


<div class="container">

  {% if confirm %}
  <div class="alert alert-info alert-dismissable">
    {{ confirm }}
  </div>
  {% endif %}


  {% if messages %}

  <div class="alert alert-info alert-dismissable">
    {% for message in messages %}
      {{ message }}
    {% endfor %}

  </div>
  {% endif %}

    <form id="form" role="form" class="form-horizontal" method="post">
        {% csrf_token %}
      <fieldset>
        <legend>{{ titulo }}</legend>
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Guardar' reset='Cancelar' layout='horizontal' %}{% endbuttons %}
    </fieldset>
    </form>

    {% if titulo == 'Carreras' or titulo == 'Departamentos' %}
      {% include "maestro_generico.html" %}
    {% endif %}

  {% if titulo == 'Planes' %}
      {% include "plan.html" %}
  {% endif %}

  {% if titulo == 'Modulos' %}
      {% include "modulo.html" %}
  {% endif %}

  {% if titulo == 'Años' %}
      {% include 'anio.html' %}
  {% endif %}

  {% if titulo == 'Periodos' %}
      {% include 'periodo.html' %}
  {% endif %}




<!-- end container -->
</div>
{% endblock %}

