<!DOCTYPE html>
{% extends "base.html" %}



{% load bootstrap3 %}

{% block title %}

{% endblock %}



{% block content %}


<div class="container">

  {% if confirm %}
  <div class="alert alert-info alert-dismissable">
    {{ confirm }}
  </div>
  {% endif %}


  {% if messages %}

  <div class="alert alert-info alert-dismissable">
    {% for message in messages %}
      {{ message }}
    {% endfor %}

  </div>
  {% endif %}

    <form id="form" role="form" class="form-horizontal" method="post">
        {% csrf_token %}
      <fieldset>
        <legend>{{ titulo }}</legend>
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Guardar' reset='Cancelar' layout='horizontal' %}{% endbuttons %}
    </fieldset>
    </form>


    <fieldset>
      <legend>Listado de {{ titulo }}</legend>
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
        </thead>
        {% for obj in queryset %}
        <tbody>
          <tr>
            <th scope="row">{{ obj.id }}</th>
            <td>{{ obj.nombre }}</td>
            <td>{{ obj.descripcion }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </fieldset>

<!-- end container -->
</div>
{% endblock %}

