
{% block content %}
    <fieldset>
      <legend>Listado de {{ titulo }}</legend>
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>RUT</th>
          <th>correo</th>
          <th>Departamento</th>
        </tr>
        </thead>
        {% for obj in queryset %}
        <tbody>
          <tr>
            <th scope="row">{{ obj.id }}</th>
            <td>{{ obj.nombre }}</td>
	          <td>{{ obj.rut }}</td>
            <td>{{ obj.correo }}</td>
            <td>{{ obj.departamento }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </fieldset>

{% endblock %}
