<!DOCTYPE html>
{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}

{% endblock %}



{% block content %}


<!-- <div class="message-alert" -->
<!--     style="border-width:3px;background-color:#cae8ca;border-style:solid; -->
<!--     position:fixed;padding:5px;bottom:0;right:0; -->
<!--     max-width:300px;z-index:999"> -->
<!--     This <div> element has position: fixed;</div> -->
<!-- </div> -->


  {% if confirm %}
  <div class="alert alert-info alert-dismissable">
    {{ confirm }}
  </div>
  {% endif %}

  {% if messages %}

  <div class="alert alert-info alert-dismissable">
    {% for message in messages %}
      {{ message }}
    {% endfor %}

  </div>
  {% endif %}


    {% if titulo == 'Asignación Profesor Módulo' %}
      {% include "horario/periodoprofesormodulo.html" %}
    {% endif %}

    {% if titulo == 'Horario' %}
      {% include "horario/horario.html" %}
    {% endif %}

    {% if titulo == 'Listado de Horarios' %}
      {% include "horario/listado_horario.html" %}
    {% endif %}

    {% if titulo == 'Reserva Bloques protegidos Módulo' %}
      {% include "horario/bloqueprotegido.html" %}
    {% endif %}

    {% if titulo == 'Módulos Compartidos' %}
      {% include "horario/modulocompartido.html" %}
    {% endif %}


{% endblock %}
