<!DOCTYPE html>
{% extends "base.html" %}

{% load bootstrap3 %}

{% load dia_semana %}

{% block title %}

{% endblock %}



{% block content %}
    <fieldset>
        <legend><h4>{{ titulo|upper }}</h4></legend>
    </fieldset>

    <form id="form" role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}

        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Reserva de Horario
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <table width="100%" class="table table-bordered table-hover">
                    <thead class="thead-default">
					            <tr>
					            <th>Día Semana / Bloque</th>
					              {% for obj in bloque_list %}
						            <th id="{{obj.id}}" align="center">{{ obj.nombre }}</th>
					              {% endfor %}
					            </tr>
				            </thead>
                    <tbody>
                      {% for k, val in horario.items %}
                          <tr>
                            <td id="dia">{{ dia_semana_list|get_item:k }}</td>
                            {% for v in val.values %}
                              {% if v %}
                                <td class="change" align="center">X</td>
                              {% else %}
                                <td class="change" align="center"> </td>
                              {% endif %}
                            {% endfor %}
                          </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <p></p>

        {% buttons layout='horizontal'%}
        <!-- <button type="submit" class="btn btn-primary save-addother"><span class="glyphicon glyphicon-save"></span> Guardar y añadir otro</button> -->
        {% if save_addanother %}
        <button type="submit" class="btn btn-primary save-addanother" name="_addanother">
            <span class="glyphicon glyphicon-save"></span>
            Guardar y añadir otro
        </button>
        {% endif%}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-saved"></span> Guardar</button>
        <button type="reset" class="btn btn-danger reset"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        {% endbuttons %}
    </form>




    <!-- jQuery -->
    <script src="/static/js/horario.js"></script>
    <script src="/static/js/change-horario.js"></script>
{% endblock %}
